# =========================
# Secrets / environment
# =========================
.env
.env.*
*.env

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
ENV/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.swp